@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
#hd {
  color:white;
  text-align: left;
  padding: 50px;
  width:92%;
  height:300px;
  margin:60px ;
  background-color:purple;
 }

#lnav {
  color: white;
  float: left;
  margin-left:60px;
  width:18%;
  height: 600px;
  background-color:#BA55D3;
 }

#rnav {
  color:white;
  float: right;
  margin-right: 60px;
  width: 18%;
  height: 600px;
  background-color:#BA55D3;
  }

#bd {
  color:purple;
  float:left;
  margin-left: 40px;
  margin-right: 10px;
  margin-bottom: 60px;
  width:50%;
  height:600px;
  background-color:white;
  overflow: auto;
}

#ft {
  color:white;
  clear:both;
  text-align:center;
  padding:10px;
  width:92%;
  height:110px;
  margin:60px;
  background-color:#ba55d3;

}

body {
  font-family:Inter,sans-serif;
}

div {
  box-sizing:border-box;
  border-radius:10px;
  padding:10px;
}

img {
  border-radius: 50%;
  width: 15%;
  float: right;
}

table,th,td {
  border: 1px solid;
}

.address {
font-size: 1rem;
}

.email_address {
  font-size: 1rem;
}

.phone_number {
  font-size: 1rem;
}

.social_media {
  font-size: 1rem;
}

a:hover {
  background-color:white;
}

/* I didn't add the opacity property because I
didn't like how the end result turned off*/
